.signup-form-container {
    width: 500px;
    height: 800px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    margin: 50px auto;
}

.error{
    margin: 0;
    color: red;
}

.success{
    margin: 0;
    color: rgb(14, 111, 14);
}